
body {
    --max-width: 1236px;
    --primary-color: #FB8C00;
    --image-height: 150px;
    background-color: #f5f5f5;
    font-family: "Roboto", serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--primary-color);
}

.platinum, .gold, .silver {
    display: grid;
}

.platinum {
    grid-template-columns: repeat(1, 1fr);
}

.gold {
    grid-template-columns: repeat(1, 1fr);
}

.silver {
    grid-template-columns: repeat(1, 1fr);
}

.platinum > div, .gold > div, .silver > div {
    display: grid;
}

.platinum > div {
    grid-template-columns: repeat(2, 1fr);
}

.gold > div {
    grid-template-columns: repeat(3, 1fr);
}

.silver > div {
    grid-template-columns: repeat(4, 1fr);
}

.platinum > div > div,
.gold > div > div,
.silver > div > div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    height: var(--image-height);
}

.listing-item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    outline: 1px solid var(--primary-color);
}

.images {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.images img {
    height: var(--image-height);
    flex-shrink: 0;
    object-fit: cover;
    scroll-snap-align: start;
    aspect-ratio: 2/3;

}

.images::-webkit-scrollbar {
    height: 1px;
}

.images::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.images::-webkit-scrollbar-track {
    background: #eee;
}

.listing-title{
    position: absolute;
    top: 5px;
    width: max-content;
    text-align: center;
    font-weight: bold;
    color: #4caf50;
    text-shadow:
            0.5px 0.5px 0 #000,
            -0.5px 0.5px 0 #000,
            -0.5px -0.5px 0 #000,
            0.5px -0.5px 0 #000;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 2px;
}

.whatsapp-contact {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 6px;
    background-color: #4caf50;
    border: 1px solid #ffffff;
    border-radius: 8px;
    gap: 4px;
    padding: 4px;
    justify-content: center;
}

.whatsapp-contact > img{
    width: 12px;
}

.whatsapp-contact > span{
    color: #fff;
    font-size: 10px;
}